body{background-image: 
        /* url(/js-html-interactive/ticket-generator/assets/images/pattern-squiggly-line-bottom-mobile-tablet.svg), */
        /* url(/js-html-interactive/ticket-generator/assets/images/pattern-squiggly-line-top.svg), */
        url(background-mobile.png);
        background-size: cover;      /* Makes sure it fills the box */
        background-position:center; /* Centers the image */
        background-repeat: no-repeat;
        /* background-size: 10vw ,contain, cover;      
        /* background-position: bottom ,top, center;
        background-repeat: no-repeat ,no-repeat ,no-repeat; */
    color: hsl(245, 15%, 58%);
    text-align: center;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:}

@media screen and (min-width: 1400px) {
    body{
        background-image: 
        url(background-desktop.png);
        background-size: cover;      /* Makes sure it fills the box */
        background-position:center; /* Centers the image */
        background-repeat: no-repeat;
    }}

    html{
        font-size: 100%;
    }

/*pattern*/
.linetop{position: fixed;
    z-index: -1;
    width: 40vW;
    right: 0;}
.linebuttomphone{position: fixed;
    z-index: -1;
    width: 80vW;
    left: 0;
    bottom: 0;}
.linebuttompc{display: none;}

@media screen and (min-width: 600px) {
    .linebuttomphone{display: none;}
    .linebuttompc{display: block;
        position: fixed;
    z-index: -1;
    width: 50vW;
    left: 0;
    bottom: 0;
    }
}


/*logo*/
.logo{
    margin: 2rem 2rem 4rem;
    display: flex;
    justify-content: center;
 
}

/*heading*/
.heading{margin: 0 0rem 3rem;}

h1{}


.heading{color: hsl(252, 6%, 83%);}
@media screen and (min-width: 600px) {
#heading{width: 30%; 
    justify-self: center;
}
h1{font-size: 3rem;}
}

/*file input*/

.inputbox{

}
.input{    border: 2px solid #666;
    border-radius: 12px;
    background-color: #1a1a3d;
    padding: 0.75rem 0.5rem;
    font-size: 1rem;
    width: 95%;
    color: aliceblue;
}
#fileinput {
    display: none;
  }
.fileinputbox{
    background-color: #1a1a3d;
    border-radius: 12px;
    border: 2px dashed #666;
    width: 100%;
    height: fit-content;
    justify-self: center;
    padding-top: 1rem ;
    cursor: pointer
}
#inputicon{
    border: hsl(245, 19%, 35%) 2px solid;
    background-color: hsl(244, 19%, 28%);
    width: fit-content;
    height: fit-content;
    padding: 0.25rem;
    border-radius: 12px;
    justify-self: center;
}
.label{text-align: start; color: hsl(252, 6%, 83%)}
.inputEl{justify-self: center; width: 95%; margin-bottom: 2rem; position: relative;}

.uploadnote{display: flex; flex-direction: row;}
.uploadnote img{display: inline; width: 0.75rem;margin-right: 0.5rem;}
.uploadnote p{font-size: 0.65rem;}

@media screen and (min-width: 600px) {
    .inputEl{width: 28rem; 
        justify-self: center;}
    }


    /*button*/
    .button{
        border: hsl(7, 88%, 67%) 2px solid;
        background-color: hsl(7, 88%, 67%);
        width: 95%;
        height: fit-content;
        padding: 0.25rem;
        border-radius: 12px;
        justify-self: center;
        margin-top: 3rem;
        margin-bottom: 10rem;
        cursor: pointer
        }
    button{
        background-color: hsl(7, 88%, 67%);
        color:#1a1a3d;
        font-weight: 600;
        padding: 0.5rem;
        cursor: pointer
        ;
        border: 0;    }

    @media screen and (min-width: 600px) {
        .button{width: 27rem; 
            justify-self: center;}
            }

    
/*block*/
    .block{display: flex; flex-direction: row; height: fit-content; margin-bottom: 0; width: 100%; justify-content: start;}
    .block .heading{ justify-content: start;
        text-align: start;
        margin-bottom: 0;
        margin-left: 1rem
        ;}
    
    .block .heading h1{font-size: 1.5rem; margin: 0;}
    .block .heading p{font-size: 0.75rem;}
    .block img{width: 1.5rem; display: flex; align-self: start; margin-top: 0.5rem;}
    

    .userblock{
        }
    .userblock img{
        width: 3rem; height: 3rem; align-self: center; border-radius: 12px;
        }
    .userblock h1{font-weight: 400; font-size: 1rem; font-size: 1rem;}
    .userblock .heading{}

    .githubusername{display: flex; flex-direction: row;margin-top: 0.5rem}
    .githubusername img{width: 1rem; justify-self: start; margin: 0 0.5rem 0 0; height: fit-content;}
    .githubusername p{margin: 0;}
    .ticket-number{writing-mode: vertical-rl;
        text-orientation: mixed;
        font-size: 0.75rem;
        color: #999;
        justify-self: center;
        padding-right: 0.5rem;}

/*ticket*/
    .ticket{
        padding: 1rem;
        /* background-image: url(/js-html-interactive/ticket-generator/assets/images/pattern-ticket.svg);
        background-size: 90vw;      /* Makes sure it fills the box */
        /* background-position: center; 
        background-repeat: no-repeat; */ 
        
        height: fit-content;
        justify-content: center;
        justify-self: center;
        position: relative;
        height: fit-content;
        box-sizing: border-box;
        align-self: center;
        max-width: 334px;

        }
    
    .ticket--background{
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 10rem;
            top: 0;
            left: 0;
        }

    .ticket-container{position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }



    .ticket-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 80%;
        }

    @media screen and (min-width: 451px) {
        .ticket--background{
            position: absolute;
            z-index: -1;
            height: contain;
            justify-self: center;
            }
        .ticket{justify-content: space-around;
        width: 100rem;
        justify-self: center;}
        .ticket-content{flex-grow: 0.5;}
        .ticket-container{width: 100%;}
        }

        #fullname, #email {
            background: linear-gradient(to right, hsl(7, 86%, 67%), hsl(0, 0%, 100%));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text; 
            text-fill-color: transparent;
          }
          #ticket-page {
            display: none;
          }

          /* //.error */
           .incorrect{
            border: 2px solid red ;
          }
          .error{ position: absolute; display: none;}
          
          .error-content{display: flex; flex-direction: row;}
        .error img{display: inline; width: 0.75rem;margin-right: 0.5rem;}
        .error p{font-size: 0.65rem; color:red}
        
        .form-error{left: 40%;}