<div class="inputEl">
    <p class="label">Upload Avatar</p>
    <div class="fileinputbox">
      <div id="inputicon">
        <img src="/js-html-interactive/ticket-generator/assets/images/icon-upload.svg" alt="">
      </div>
      <input type="file" id="fileinput">
      <p>Drag and drop or click to upload</p>
    </div>
    <div class="uploadnote">
      <img src="/js-html-interactive/ticket-generator/assets/images/icon-info.svg" alt="">
      <p>Upload your photo (JPG or PNG, max size: 500KB)</p></div>
  </div>


  <div class="inputEl">
    <p class="label">Upload Avatar</p>
    <div class="inputbox">
      <input type="email" class="input">
    </div>
  </div>